body{
    background-color: #dcdcdc;
    font-family: Arial, Helvetica, sans-serif; 
}

.pagina{
    text-align: center;
}

label input{
    background-color: #fefefe;
}

label select{
    background-color: #fefefe;
}

button{
    background-color: #ededed;
}